@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #32231c;
  background-color: white;
  font-family: Lora, serif;
}

main {
  margin: 1rem;
}

.main {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
}

.banner-content {
  color: #32231c;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  background: rgba(0, 0, 0, .5);
  background-color: white;
}

.join {
  padding-left: 5rem;
  padding-right: 5rem;
}

.social {
  padding-top: 0;
}

.logo {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
  max-width: 50px;
}

.nav a {
  color: white;
  text-decoration: none;
}

header {
  background-color: #32231c;
}

.btn {
  font-family: Futura, sans-serif;
  background-color: white;
  color: #d0a994;
  border: .3rem solid white;
  border-radius: 100px;
}

.btn:hover {
  background-color: #d0a994;
  border: .3rem solid #d0a994;
}

a:hover {
  color: #32231c;
}

.in {
  background-color: #32231c;
  color: #d0a994;
  border: .3rem solid #d0a994;
}

.in:hover {
  background-color: #d0a994;
  color: #32231c;
  border: .3rem solid #32231c;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.leaf {
  width: 30em;
  position: absolute;
  display: flex;
  top: 30px;
  left: 1%;
  z-index: -1000;
}

.leaftwo {
  width: 15em;
  position: absolute;
  display: flex;
  bottom: 30px;
  right: 1%;
  z-index: -1000;
  transform: rotate(-60deg);
}

nav a:hover {
  color: #d0a994;
}

.everything {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
}

.text {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
}

.form {
  background-color: white;
  border: .3rem solid #32231c;
  color: #32231c;
}

footer {
  background-color: white;
  padding-bottom: 1em;
  color: #32231c;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: .3rem solid #32231c;
}

.contactfooter {
  margin-top: 7em;
  padding-top: 3em;
}

.aboutfooter {
  border-top: .3rem solid white;
}

footer img {
  max-width: 32px;
  list-style-type: none;
}

.facebook {
  margin: .5rem;
}

.instagram {
  margin: .5rem;
}

.twitter {
  margin: .5rem;
}

.about {
  background-color: #d0a994;
  border-top: .3rem solid #32231c;
}

.night {
  background-color: #d0a994;
}

.beach {
  max-height: 200px;
  overflow: hidden;
}

h1 {
  font-family: "Shadows Into Light", cursive;
}

a {
  text-decoration: none;
  color: #014421;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  ul {
    padding-top: 1.3rem;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .img {
    width: 50%;
    align-items: center;
  }

}
